<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @care_provider.name %>
</p>

<%= link_to 'Edit', edit_care_provider_path(@care_provider) %> |
<%= link_to 'Back', care_providers_path %>
